<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>DCV Inspector</title>
	<link rel="stylesheet" href="/assets/style.css"/>
</head>
<body>
	<header>
		<h1>DCV Inspector</h1>
	</header>
	<section class="intro">
		<p>
			DCV Inspector helps you inspect the DNS, HTTP, and SMTP requests
			made by a certificate authority during domain validation.  You can use it
			to detect violations of domain validation rules,
			such as the use of Delegated Third Parties.
		</p>
		<p>
			DCV Inspector creates a unique subdomain for each test. All DNS, HTTP,
			and SMTP requests to this subdomain (including descendants of the subdomain)
			are recorded and presented to you for inspection.
		</p>
	</section>
	<section>
		<form action="/test" method="post">
			<button type="submit" class="start_button">Start Test</button>
		</form>
	</section>
	<footer>
		<p>
			{{ if .BuildInfo }}
				{{ .BuildInfo.Main.Path }}@{{ .BuildInfo.Main.Version }} ({{ .BuildInfo.Main.Sum }})
			{{ end }}
			<a href="https://github.com/SSLMate/dcv-inspector">Source Code / Issue Tracker</a>
		</p>
	</footer>
</body>
</html>
