{{ define "dns_records" }}
	<table>
		<thead><tr><th>Subdomain</th><th>Type</th><th>Data</th>{{ if $.IsRunning }}<th></th>{{ end }}</tr></thead>
		{{ range $.DNSRecords }}
			<tr>
				<td>{{ .Subdomain }}</td>
				<td>{{ .TypeString }}</td>
				<td>
					{{ if eq .TypeString "TXT" }}"{{ index .Data "Txt" 0 }}"{{ end }}
					{{ if eq .TypeString "CAA" }}{{ index .Data "Flag" }} {{ index .Data "Tag" }} "{{ index .Data "Value" }}"{{ end }}
				</td>
				{{ if $.IsRunning }}
					<td>
						<form action="/test/{{ $.TestID }}" method="post">
							<button type="submit" name="rm_dns_record" value="{{ .DNSRecordID }}">Delete</button>
						</form>
					</td>
				{{ end }}
			</tr>
		{{ end }}
		{{ if $.IsRunning }}
			<tr>
				<td><input form="add_txt_record_form" type="text" name="txt_subdomain" size="40"/></td>
				<td>TXT</td>
				<td>"<input form="add_txt_record_form" type="text" name="txt_data" size="50"/>"</td>
				<td>
					<form id="add_txt_record_form" action="/test/{{ $.TestID }}" method="post">
						<input type="hidden" name="add_dns_record" value="TXT"/>
						<button type="submit">Add TXT Record</button>
					</form>
				</td>
			</tr>
			<tr>
				<td><input form="add_caa_record_form" type="text" name="caa_subdomain" size="40"/></td>
				<td>CAA</td>
				<td>
					<input form="add_caa_record_form" type="text" name="caa_flag" size="4" placeholder="Flag" required="required"/>
					<input form="add_caa_record_form" type="text" name="caa_tag" size="10" placeholder="Tag" required="required"/>
					"<input form="add_caa_record_form" type="text" name="caa_value" size="30" placeholder="Value"/>"
				</td>
				<td>
					<form id="add_caa_record_form" action="/test/{{ $.TestID }}" method="post">
						<input type="hidden" name="add_dns_record" value="CAA"/>
						<button type="submit">Add CAA Record</button>
					</form>
				</td>
			</tr>
		{{ end }}
	</table>
{{ end -}}
{{ define "http_files" }}
	<table>
		<thead><tr><th>Scheme</th><th>Subdomain</th><th>Path</th><th>Content</th>{{ if $.IsRunning }}<th></th>{{ end }}</tr></thead>
		{{ range $.HTTPFiles }}
			<tr>
				<td>{{ .Scheme }}</td>
				<td>{{ .Subdomain }}</td>
				<td>{{ .Path }}</td>
				<td><textarea readonly="readonly" rows="2" cols="50">{{ .Content }}</textarea></td>
				{{ if $.IsRunning }}
					<td>
						<form action="/test/{{ $.TestID }}" method="post">
							<button type="submit" name="rm_http_file" value="{{ .HTTPFileID }}">Delete</button>
						</form>
					</td>
				{{ end }}
			</tr>
		{{ end }}
		{{ if $.IsRunning }}
			<tr>
				<td><select form="add_http_file_form" name="file_scheme"><option>http</option><option>https</option></select></td>
				<td><input form="add_http_file_form" type="text" name="file_subdomain" size="30"/></td>
				<td><input form="add_http_file_form" type="text" name="file_path" size="45"/></td>
				<td><textarea form="add_http_file_form" name="file_content" rows="3" cols="45"></textarea></td>
				<td>
					<form id="add_http_file_form" action="/test/{{ $.TestID }}" method="post">
						<input type="hidden" name="add_http_file" value="1"/>
						<button type="submit">Add File</button>
					</form>
				</td>
			</tr>
		{{ end }}
	</table>
{{ end -}}
<!DOCTYPE html>
<html lang="en">
<!--
	Copyright (C) 2023 Opsmate, Inc.

	Permission is hereby granted, free of charge, to any person obtaining a
	copy of this software and associated documentation files (the "Software"),
	to deal in the Software without restriction, including without limitation
	the rights to use, copy, modify, merge, publish, distribute, sublicense,
	and/or sell copies of the Software, and to permit persons to whom the
	Software is furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included
	in all copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
	THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
	OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
	ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
	OTHER DEALINGS IN THE SOFTWARE.

	Except as contained in this notice, the name(s) of the above copyright
	holders shall not be used in advertising or otherwise to promote the
	sale, use or other dealings in this Software without prior written
	authorization.
-->
<head>
	<meta charset="UTF-8"/>
	<title>DCV Inspector - {{ .TestID }}</title>
	<link rel="stylesheet" href="/assets/style.css"/>
</head>
<body>
	{{ if .IsRunning }}
		<header>
			<h1>DCV Inspector Test In Progress</h1>
		</header>
		<section class="running_info">
			<p>
				Your test domain is:
			</p>
			<p>
				<code class="test_domain">{{ .TestDomain }}</code>
			</p>
			<p>
				Try requesting a certificate for this domain, or one of its subdomains.
				All DNS queries, HTTP requests, and emails will be recorded and presented to you after
				the test is stopped.
			</p>
		</section>
		<section>
			<h2>DNS Records</h2>
			{{ template "dns_records" $ }}
		</section>
		<section>
			<h2>HTTP Files</h2>
			{{ template "http_files" $ }}
		</section>
		<section>
			<form action="/test/{{ .TestID }}" method="post">
				<button type="submit" name="stop" value="stop" class="big_button stop_button">Stop Test</button>
			</form>
		</section>
	{{ else }}
		<header>
			<h1>DCV Inspector Test Results</h1>
		</header>
		<section>
			<h2>DNS Records</h2>
			{{ template "dns_records" $ }}
		</section>
		<section>
			<h2>DNS Requests</h2>
			<table>
				<thead><tr><th>Time</th><th>Remote Address</th><th>Query Type</th><th>Query FQDN</th><th>Details</th></tr></thead>
				{{ range .DNS }}
					<tr>
						<td>{{ .ReceivedAt.Format "2006-01-02 15:04:05 UTC" }}</td>
						<td><a href="https://bgp.tools/search?q={{ .RemoteIP }}">{{ .RemoteAddr }}</a></td>
						<td>{{ .QTypeString }}</td>
						<td>{{ .FQDN }}</td>
						<td>
							<a href="javascript:void(0)" onclick="this.parentNode.querySelector('dialog').showModal()">Show</a>
							<dialog>
								<pre>{{ .MessageString }}</pre>
								<form method="dialog"><button class="big_button close_button">Close</button></form>
							</dialog>
						</td>
					</tr>
				{{ end }}
			</table>
		</section>
		<section>
			<h2>HTTP Files</h2>
			{{ template "http_files" $ }}
		</section>
		<section>
			<h2>HTTP Requests</h2>
			<table>
				<thead><tr><th>Time</th><th>Remote Address</th><th>Host</th><th>HTTPS</th><th>Request</th><th>Header</th></tr></thead>
				{{ range .HTTP }}
					<tr>
						<td>{{ .ReceivedAt.Format "2006-01-02 15:04:05 UTC" }}</td>
						<td><a href="https://bgp.tools/search?q={{ .RemoteIP }}">{{ .RemoteAddr }}</a></td>
						<td>{{ .Host }}</td>
						<td>{{ .IsHTTPS }}</td>
						<td>{{ .Method }} {{ .URL }} {{ .Proto }}</td>
						<td>
							<a href="javascript:void(0)" onclick="this.parentNode.querySelector('dialog').showModal()">Show</a>
							<dialog>
								<pre>{{ .HeaderString }}</pre>
								<form method="dialog"><button class="big_button close_button">Close</button></form>
							</dialog>
						</td>
					</tr>
				{{ end }}
			</table>
		</section>
		<section>
			<h2>SMTP Requests</h2>
			<table>
				<thead><tr><th>Time</th><th>Remote Address</th><th>HELO</th><th>STARTTLS</th><th>MAIL FROM</th><th>RCPT TO</th><th>Header</th></tr></thead>
				{{ range .SMTP }}
					<tr>
						<td>{{ .ReceivedAt.Format "2006-01-02 15:04:05 UTC" }}</td>
						<td><a href="https://bgp.tools/search?q={{ .RemoteIP }}">{{ .RemoteAddr }}</a></td>
						<td>{{ .Helo }}</td>
						<td>{{ .IsSTARTTLS }}</td>
						<td>{{ .MailFrom }}</td>
						<td>
							<ul>{{ range .RcptTo }}<li>{{ . }}</li>{{ end }}</ul>
						</td>
						<td>
							<a href="javascript:void(0)" onclick="this.parentNode.querySelector('dialog').showModal()">Show</a>
							<dialog>
								<pre>{{ .MessageHeader }}</pre>
								<form method="dialog"><button class="big_button close_button">Close</button></form>
							</dialog>
						</td>
					</tr>
				{{ end }}
			</table>
		</section>
		<section>
			<form action="/test" method="post">
				<button type="submit" class="big_button start_button">Start New Test</button>
			</form>
		</section>
	{{ end }}
	<footer>
		<p>
			{{ if .BuildInfo }}
				{{ .BuildInfo.Main.Path }}@{{ .BuildInfo.Main.Version }} ({{ .BuildInfo.Main.Sum }})
			{{ end }}
			<a href="https://github.com/SSLMate/dcv-inspector">Source Code / Issue Tracker</a>
		</p>
	</footer>
</body>
</html>
